@import 'variables';

// bower:scss
// endbower

@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin-ext);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

body {
  background-image: linear-gradient(-44deg, #62CAAF 0%, #7E79EE 22%, #3023AE 60%, #0C054E 100%);
  color: $color-text;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.43;
  height: 100vh;
  min-height: 800px;
}

a {
  color: $color-secondary;
  text-decoration: none;
}

.underline {
  span {
    border-bottom: 1px solid $color-secondary;
  }

  &:hover {
    span {
      border-bottom-color: darken($color-secondary, 20);
    }
  }
}

.manifesto {
  box-sizing: border-box;
  max-width: 700px;
  padding: 30px;
  margin-bottom: 60px;

  position: relative;
  width: 100%;
  background: rgba($color-dark, .4);

  h1, h4, p {
    color: $color-light;
  }

  @media (min-width: 480px) {
    padding: 50px 5%;
  }

  @media (min-width: 1024px) {
    margin: 30px 0 60px 30px
  }
}

.brand {
  display: inline-block;
}

.contact {
  display: inline-block;
  margin: 10px 0 40px;
  text-decoration: none;

  i {
    margin-right: 10px;
    position: relative;
    top: 6px;
  }
}

